@import ./config/_fonts.sass
@import ./config/_colors.sass
@import ./component/_header.sass    
@import ./component/pages/index/_main-screen.sass
@import ./component/pages/index/_about.sass
@import ./component/pages/index/_services.sass
@import ./component/pages/index/_history.sass    
@import ./component/pages/index/_team.sass  
@import ./component/pages/index/_portfolio.sass
@import ./component/pages/index/_prices.sass   
@import ./component/pages/index/_commercial.sass  
@import ./component/pages/index/_blog.sass  
@import ./component/pages/index/_clients.sass 
@import ./component/pages/index/_cites.sass
@import ./component/pages/index/_map.sass  
@import ./component/pages/index/_contact.sass  

*, *:after, *:before
    box-sizing: border-box
    margin: 0
    padding: 0

li 
    list-style-type: none

a
    text-decoration: none    

button
    cursor: pointer

.container
    width: 100%
    max-width: 1170px
    margin: 0 auto
    text-align: center    

body 
    // background-image: url('../../layouts/index.jpg')
    // background-repeat: no-repeat
    // background-position: 50% 0

#content 
    padding-top: 79px

.main-header
    font-family: "Amsdam"
    font-size: 20px
    text-transform: uppercase
    letter-spacing: 0.44px
    color: $dark-grey
    background-image: url('../img/Line-black.png')
    background-position: center bottom
    background-repeat: no-repeat
    padding: 24px 0
    margin-bottom: 40px

.main-desc    
    font-family: "Crimson Text - Roman"
    font-size: 14px
    letter-spacing: 1.4px
    color: $dark-grey
    text-align: center
    margin: 0 70px 40px

.main_btn
    position: relative
    font-family: Montserrat
    font-size: 13px
    border: 2px solid $dark-grey
    display: inline-block

// .animated-button
//     &:before
//         content: ""
//         position: absolute
//         height: 0%
//         left: 50%
//         top: 50%
//         width: 100%
//         transition: all 0.75s ease 0s
//         opacity: 0
//         background-size: 10px 10px
//         background-image: -webkit-linear-gradient( transparent 50%, rgba(181, 183, 186, 0.3) 50%)
//     &:hover
//         &:before
//             opacity: 1  
//             z-index: 1  

// .animated-button--company
//     &:before
//         transform: translateX(-50%) translateY(-50%)
//     &:hover
//         &:before
//             height: 100% 

// .animated-button--prices  
//     overflow: hidden 
//     &:before
//         transform: translateX(-50%) translateY(-50%) rotate(90deg)
//     &:hover
//         &:before
//             height: 600%         

.link-active
    border-bottom: 2px solid $green    