.portfolio
    padding-top: 50px
    max-width: 1600px
    margin: 0 auto
    .main-desc
        margin-bottom: 50px

.portfolio_category
    margin-bottom: 65px

.category_item
    font-family: Montserrat
    font-size: 11px        
    color: $dark-grey
    text-transform: uppercase
    border: 2px solid $dark-grey
    padding: 5px 20px
    position: relative
    background-color: #fff

.category_item--active
    background-color: $dark-grey
    color: #fff

// .category_item:hover
//     background-color: $dark-grey
//     color: #fff

.portfolio_gallery
    height: 680px
    overflow: hidden
    border: 1px solid black
    display: flex

.gallery_lower, .gallery_upper
    background: 
        size: cover
        position: center
        repeat: no-repeat

.gallery_lower
    flex-grow: 1

.gallery_column
    display: flex
    flex-direction: column
    width: 25%
  
.gallery_upper--col1 
    background-image: url('../../../img/portfolio-1.png')
    height: 60%

.gallery_lower--col1 
    background-image: url('../../../img/portfolio-2.png')

.gallery_upper--col2 
    background-image: url('../../../img/portfolio-3.png')
    height: 43%

.gallery_lower--col2 
    background-image: url('../../../img/portfolio-4.png')    

.gallery_upper--col3 
    background-image: url('../../../img/portfolio-5.png')
    height: 33%

.gallery_lower--col3 
    background-image: url('../../../img/portfolio-6.png')      

.gallery_upper--col4 
    background-image: url('../../../img/portfolio-7.png')
    height: 64%

.gallery_lower--col4 
    background-image: url('../../../img/portfolio-8.png')    