@import ../config/_colors.sass

#header 
    width: 100%
    margin: 0 auto
    max-width: 1600px        
    position: relative

.logo
    display: flex
    align-items: center
    cursor: pointer
    color: #757575
    text-decoration: none

.logo_image
    margin-right: 11px

.logo_name
    font-family: Montserrat
    font-size: 18px
    letter-spacing: 1.8px
    text-transform: uppercase    

.navbar
    align-items: center
    position: fixed
    padding: 25px 20px
    background-color: #fff
    left: 0
    right: 0
    z-index: 3
    display: none
    .container
        display: flex
        justify-content: space-between
        align-items: center

.navbar_list
    display: flex    

.navbar_item
    margin-right: 16px
    &:last-child
        margin-right: 0

.navbar_link
    font-family: Montserrat
    font-size: 12px
    color: #757575
    text-transform: uppercase
    

.social
    display: flex
.social_icon
    width: 14px
    height: 14px
    fill: #a4a4a4
    &:hover
        fill: $green
.social_item
    margin-right: 10px
    &:last-child
        margin-right: 0

.company
    background-image: url(../../../../img/main-screen-bg.png)
    background-position: 50% 0
    background-repeat: no-repeat
    padding-top: 190px
    padding-bottom: 200px
    width: 100%
    max-width: 1600px
    margin: 0 auto
    z-index: 0
    .container
        display: flex
        flex-direction: column
        align-items: center

.company_desc
    font-family: "Crimson Text - Roman"
    font-size: 14px
    letter-spacing: 1.4px
    color: #ffffff
    margin-bottom: 55px

.company_name
    font-family: Amsdam
    font-size: 36px
    color: #ffffff
    text-transform: uppercase
    margin-bottom: 35px    
    position: relative
    background-image: url(../../../../img/line.png) 
    background-size: 100% 100%
    padding: 30px 0

.company_btn 
    font-family: Montserrat
    font-size: 15px
    color: #ffffff
    letter-spacing: 1.5px
    border: 2px solid #f2f2f2
    padding: 10px 20px
    background-color: transparent
    position: relative
    &:after
        content: ''
        position: absolute
        height: 50px
        width: 15px
        background-image: url(../../../../img/arrow.png)
        left: calc(50% - 15px / 2)
        top: 83%        

.header_trigger
    position: absolute
    top: 0
    right: 0
    display: flex
    justify-content: center
    align-items: center
    box-sizing: content-box
    width: 30px
    height: 30px
    padding: 15px 10px
    background: 0 0
    border: 0
    z-index: 4
    display: none
    span
        position: relative
        display: inline-block
        width: 30px
        height: 3px
        vertical-align: bottom
        background: #fff
        transition: background .3s .5s
        &:before, &:after
            content: ""
            position: absolute
            left: 0
            width: 100%
            height: 3px
            background: #fff
            transform-origin: 50% 50%
            transition: top .3s .3s,transform .3s
        &:before
            top: 10px
        &:after
            top: -10px

.triggered
    span
        background: 0 0
        &:before
            transform: rotate3d(0,0,1,45deg)
            top: 0
            transition: top .3s,transform .3s .5s
            background-color: #757575
        &:after
            transform: rotate3d(0,0,1,-45deg)
            top: 0
            transition: top .3s,transform .3s .5s
            background-color: #757575
    
.navbar-show
    display: block

.overflow
    overflow: hidden